img {
  width: 650px;
}

#content {
  /*margin-left: auto;*/
  /* 15% for side nav bar to add in future */
  margin-left: 15%;
  margin-right: auto;
  padding-bottom: 50px;
  width: 1000px;
}

#filler-box {
  width: 650px;
  height: 400px;
  background-color: #bbb; 
  text-align: center;
  padding: 160px;
  font-size: 50px;
  color: white;
  font-style: italic;
  opacity: 80%;
}

/* Based on https://www.w3schools.com/howto/howto_js_slideshow.asp */
* {
  box-sizing:border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  /* Initially hidden. In JS once a keyframe image is displayed, set display to block */
  display: none;
  background-color: white;
}

/* Position the "next button" to the right */
/* Position the "next button" to the right */
.next {
  left: 1207px;
  border-radius: 3px 0 0 3px;
}v

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #4285f4;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.keyframe-cardfade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes keyframe-card-fade {
  from {opacity: .4}
  to {opacity: p1}
}

@keyframes keyframe-card-fade {
  from {opacity: .4}
  to {opacity: 1}
}

label{
 /* padding:15px 0px;*/
  width: 50%;
  text-align: left;
  float:left;
  margin-bottom: 10px;
  height: 30px;
  margin-top: 1px;
}

/*Style the meter bars on the Results page - based on https://blog.teamtreehouse.com/use-meter-progress-elements*/
meter {
  width: 275px;;
  height: 30px;
  text-align: right;
  margin-bottom: 10px;
  position: relative;
  left: -5px;
  text-align: right;
  float: right;
}

meter::-webkit-meter-bar {
  background: #EEE;
  border-radius: 0px;
  /* By adding a repeating linear gradient of white every 140 px, 
  5px wide, we can create a meter with lines at even distributions, 
  which will look like a meter broken up into 5 segments.
  */
  background: repeating-linear-gradient(
    to right,
    white,
    white 5px,
    #8787875e 0%,
    #8787875e 55px
  );
  border: 0px;
}

meter::-webkit-meter-optimum-value {
  background: #CC4600; /* Red */
  background: repeating-linear-gradient(
    to right,
    white,
    white 5px,
    #CC4600 0%,
    #CC4600 55px
  );
  border: 0px;
}

/*
Yellow for intermediate - not working...*/
meter::-webkit-meter-suboptimum-value {
  background: #FFDB1A;
  background: repeating-linear-gradient(
    to right,
    white,
    white 5px,
    #FFDB1A 0%,
    #FFDB1A 55px
  );
  border: 0px;
}

meter::-webkit-meter-even-less-good-value {
  background: #86CC00;  /* Green */
  background: repeating-linear-gradient(
    to right,
    white,
    white 5px,
    #86CC00 0%,
    #86CC00 55px
  );
  border: 0px;
}

/* Style image as card - https://www.w3schools.com/howto/howto_css_cards.asp*/
.result-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 1250px;
}


/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

hr {
  background-color: #EEE;
  height: 3px;
}

/* Tooltip for information about the effects - https://www.w3schools.com/css/css_tooltip.asp*/
/* Tooltip container */
.tooltip-info {
  position: relative;
  display: inline-block;
  height: 15px;
  margin-left: 2%;
}

/* Tooltip text */
.tooltip-info .tooltiptext-info {
  visibility: hidden;
  width: 350px;
  color: black;
  border: 1px dotted #bbb;
  background-color: white;
  margin-left: 50px;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  font-size: 18px;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-info:hover .tooltiptext-info {
  visibility: visible;
}

/* For user choice of displaying Flagged Keyframe Images or All Keyframe Images */
#keyframe-display-allorflagged-buttons {
    margin: 0 auto;
    height: 50px;
    position: relative;
    display: none;
}

#keyframe-display-allorflagged-buttons button {
    padding: 4px;
    margin: 0 auto;
    height: 40px;
    background-color: white;
    border: #bbb solid 2px;
    border-bottom: 0px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 280px;
}

#keyframe-display-allorflagged-buttons button:hover {
    color: #4285f4;
    height: 50px;
    font-weight: bold;
}

.left-indented {
  position: absolute;
  left: 277px;
}

/* Loading circle for Results page */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #4285f4; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  display: block;
  margin: auto;
  margin-top: 50px;
}

.keyframeimage-loader {
    display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.keyframe-card-body {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* Displaying timestamp in the corner of the image */
#timestamp {
  color: #f2f2f2;
  background-color: gray;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}