#content {
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  width: 1000px;
}

body, html {
  background-color: #ffffff;
  color: #000000; 
  font-size: 18px;
  font-family: "Montserrat", sans-serif; 
  height: 100%;
}

h1 {
  color: #4285f4;
  font-size: 3em;
  font-weight: 500;
  padding-top: 30px;
}

h2 {
  color: #4285f4;
  font-size: 24px;
  padding-top: 20px;
}

p {
  padding-top: 10px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

/* Radio options */

#options {
  padding-top: 10px;
}

.radioOptions {
  cursor: pointer;
  display: block;
  font-size: 18px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.radioOptions input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

.checkmark {
  background-color: #eee;
  border-radius: 50%;
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.radioOptions:hover input ~ .checkmark {
  background-color: #ccc;
}

.radioOptions input:checked ~ .checkmark {
  background-color: #4285f4;
}

#inputLabel {
  padding-left: 40px;
}

/* Form submit button */

#video-form-button{
  background-color: #4285f4;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
}

#video-form-button:hover{
  color: #000000;
  transform: scale(1.1);
}

/* Video and buttons */

#video {
  display: none;
  max-width: 100%;
  max-height: 100%; 
  width: 1000px;
}

#showHideVideo {
  display: none;
  margin-bottom: 10px;
}

.buttonsToHide {
  display: none;
}

.buttonsToHide button {
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Slideshow of images */

* {
  box-sizing:border-box
}

#slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.mySlides {
  display: none;
}

.image {
  height: auto;
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  display: none;
  background-color: white;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: white;
  background-color: #4285f4;
}

.caption {
  background: rgba(0,0,0,.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 2;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 2px;
  margin-top: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Loading circle */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #4285f4; /* Blue */
  border-radius: 50%;
  display: none;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
